body { background: #F5FCFF; color: #333666; }
div.section { text-align: center; margin: 0; }
.buttons { margin: 0 0 -40px; width:100%}
.item-images{
width:35%;
margin-left:2%;
float:left;
}
.panzoom-parent .buttons{
position:relative;
z-index:10;
}
.panzoom-parent{
padding: 20px 0 10px 0px;
margin-bottom: 10px;
border: 1px solid black;
background: black;
}