






/*STYLES LINE LEVEL ELEMENTS*/

.line{
    margin:0 4em 0 2.5em;
    padding:0;
    cursor:pointer;
}
.line .linenumber,
.line .emptynumber{
    float:left;
    margin-left:-2.5em;
    width:2em;
    background:white;
}
.line .linenumber{
    text-align:right;
    color:#003366;
    text-decoration:underline;
    cursor:pointer;
}
/*line highlighting*/
.highlighted{
background-color: #0aa;
}

/*END STYLES LINE LEVEL ELEMENTS*/
.noteicon,
.choice,
.rdgGrp{
    cursor:pointer;
    position:relative;
    z-index:24;
}
.noteicon{
    bottom:7px;
    margin-left:6px;
    margin-right:6px;
    font-size:85%;
    color:#003366;
    /* text-decoration: underline; */
    border-bottom:1px solid #000066;
    display:inline
}
.choice,
.rdgGrp{
    border-bottom:thin dashed #666;
	display:inline;
}

.head .noteicon{
    font-size:74% !important;
}
.noteicon .note,
.choice .corr,
.rdgGrp .altRdg{
    display:none;
}
.noteicon .note{
    text-decoration:none !important;
}

.noteicon:hover,
.choice:hover,
.rdgGrp:hover{
    z-index:25 !important;
}
.noteicon:hover .note,
.choice:hover .corr,
.rdgGrp:hover span.altRdg{
    display:block;
    position:absolute;
    top:14px;
    padding:7px 20px;
    text-decoration:none;
    font-size:105%;
    color:black;
    text-align:left;
    border:thick solid #003366;
    background:white;
    font-weight:400 !important;
}
div.noteicon:hover div.note{
    left:-125px;
    min-width:250px;
    max-width:500px;
    background:white;
}
.choice:hover .corr,
.rdgGrp:hover span.altRdg{
    left:0;
    min-width:175px;
    max-width:350px;
    background:white;
    font-size:90%;
}